{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}

    <div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">

            <div class="card-content">
              <span class="card-title">Sync List <a class="waves-effect waves-teal btn" style="float:right" href="{% url 'orgs-list' %}"><small class="media-heading">Back</small></a></span>
              <table id="table_sync_list" class="mdl-data-table bordered striped" cellspacing="0" width="100%">
        <thead>
            <tr>

                <th>Name</th>
                <th>ID</th>
                <th>Podio Key</th>
                <th>Enabled</th>
                <th>Last Synced</th>
                <th style="width: 1%;white-space: nowrap">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sync_point in sync_list %}
            <tr data-application-id="{{ sync_point.application_id }}" data-podio-key="{{ sync_point.podio_key.id }}" data-application-name="{{ sync_point.application_name }}">
                <td>{% if sync_point.application_url %}
                        <a href="{{ sync_point.application_url }}">{{ sync_point.application_name }}</a>
                    {% else %}
                        {{ sync_point.application_name }}
                    {% endif %}

                </td>
                <td>{{ sync_point.application_id }}</td>
                <td>
                    <a href="{% url 'admin:podiosync_podiokey_change' sync_point.podio_key.id %}">{{ sync_point.podio_key }}</a>
                </td>
                <td>
                    <input class="check-application-enable" type="checkbox" id="chk-{{ sync_point.application_id }}" {% if sync_point.application_enabled %}checked{% endif %}/>
                    <label for="chk-{{ sync_point.application_id }}"></label><input type="checkbox"  {% if sync_point.application_enabled %}checked{% endif %}>
                </td>
                <td class="last-synced">{{ sync_point.last_synced|date:"M d, Y, h:i A" }}</td>
                <td><i class="material-icons icon-action sync-now">sync</i> <i class="material-icons icon-action sync-history">history</i>
                <div id="loader_{{ sync_point.application_id }}" class="preloader-wrapper small" style="height: 24px;width: 24px">
                    <div class="spinner-layer spinner-green-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>

          </div>
            </div>
        </div>
    </div>
    </div>
<script>
    $(function(){
        var dt_table = $('#table_sync_list').DataTable({
            "iDisplayLength": 10,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search sync list..."
            }
        });
        $("div.ddl-filter").html($('#ddl_length').html());
        $('#select_length').material_select();
        $('#select_length').on('change', function(){
            dt_table.page.len($(this).val()).draw();

        });
        $('body').on('click', '.check-application-enable', function(e){
            var app_id = $(this).closest('tr').data('application-id');
            var app_name = $(this).closest('tr').data('application-name');
            var podio_key = $(this).closest('tr').data('podio-key');
            var checked = $(this).prop('checked');
            var action_sync = 'remove';
            if (checked){
                action_sync = 'add';
            }
            $.ajax({
                type: "POST",
                url: "/sync/application/"+action_sync+"/"+app_id+"/",
                data: {'application_name': app_name, 'podio_key_id': podio_key, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                beforeSend: function(){

                },
                success: function(data){

                }
            });

        });
        $('body').on('click', '.sync-now', function(e){
            var $sync_icon = $(this);
            var $tr = $sync_icon.closest('tr');
            var app_id = $tr.data('application-id');
            var app_name = $tr.data('application-name');
            var podio_key = $tr.data('podio-key');
            var checked = $tr.find('.check-application-enable').prop('checked');

            if (checked){
                $.ajax({
                type: "POST",
                url: "{% url 'sync-run' %}",
                data: {'application_id': app_id, 'podio_key_id': podio_key, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                beforeSend: function(){
                    $sync_icon.addClass('hide');
                    $('#loader_'+app_id).addClass('active');
                },
                success: function(data){
                    $sync_icon.removeClass('hide');
                    $('#loader_'+app_id).removeClass('active');
                    if (data.result === 'success' && data.last_synced){
                        $tr.find('.last-synced').html(data.last_synced);
                    }
                    else {
                        $tr.find('.last-synced').html(data.result);
                    }
                }
            });
            }



        });


    });
</script>
{% endblock %}